In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_csv('../data/cleaned_sales_leads_dataset.csv')

In [3]:
df.head()

,lead_id,company_size,industry,annual_revenue_lkr,location,engagement_score,website_visits,email_opens,demo_requested,days_since_first_contact,contact_level,budget_indicated_lkr,competitor_using,referral_source,converted
0,LEAD_0001,Medium,Agriculture,116701433,Kandy,87,25,16,No,15,Manager,4724984,Yes,Website,1
1,LEAD_0002,Medium,Finance,142242154,Kurunegala,77,45,4,No,105,Employee,5301443,No,Cold Call,1
2,LEAD_0003,Medium,IT/Software,134980432,Kurunegala,100,27,7,Yes,160,Manager,4643608,Yes,Referral,1
3,LEAD_0004,Small,Tourism,7239690,Colombo,100,33,11,No,166,C-Level,196625,No,Referral,1
4,LEAD_0005,Medium,IT/Software,128031305,Jaffna,48,17,3,No,116,Employee,4773010,No,Referral,0

In [4]:
df = df.drop(columns=["lead_id"])

In [5]:
df

,company_size,industry,annual_revenue_lkr,location,engagement_score,website_visits,email_opens,demo_requested,days_since_first_contact,contact_level,budget_indicated_lkr,competitor_using,referral_source,converted
0,Medium,Agriculture,116701433,Kandy,87,25,16,No,15,Manager,4724984,Yes,Website,1
1,Medium,Finance,142242154,Kurunegala,77,45,4,No,105,Employee,5301443,No,Cold Call,1
2,Medium,IT/Software,134980432,Kurunegala,100,27,7,Yes,160,Manager,4643608,Yes,Referral,1
3,Small,Tourism,7239690,Colombo,100,33,11,No,166,C-Level,196625,No,Referral,1
4,Medium,IT/Software,128031305,Jaffna,48,17,3,No,116,Employee,4773010,No,Referral,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Large,IT/Software,276962526,Jaffna,83,2,10,Yes,120,C-Level,20743136,No,Trade Show,1
996,Medium,Education,35128715,Jaffna,93,7,19,Yes,5,Employee,883258,Yes,Trade Show,1
997,Large,Education,680531071,Negombo,100,34,7,Yes,174,Manager,30069693,Yes,Cold Call,1
998,Medium,Healthcare,93502587,Kandy,94,11,17,Yes,86,Employee,3608823,Yes,Trade Show,1
999,Large,Tourism,212163964,Anuradhapura,100,41,18,No,31,C-Level,10502204,Yes,Website,1

In [7]:
# One-hot encode selected columns
df_encoded = pd.get_dummies(df, drop_first=True)

In [8]:

df_encoded.head()

,annual_revenue_lkr,engagement_score,website_visits,email_opens,days_since_first_contact,budget_indicated_lkr,converted,company_size_Medium,company_size_Small,industry_Education,...,location_Matara,location_Negombo,demo_requested_Yes,contact_level_Employee,contact_level_Manager,competitor_using_Yes,referral_source_Referral,referral_source_Social Media,referral_source_Trade Show,referral_source_Website
0,116701433,87,25,16,15,4724984,1,True,False,False,...,False,False,False,False,True,True,False,False,False,True
1,142242154,77,45,4,105,5301443,1,True,False,False,...,False,False,False,True,False,False,False,False,False,False
2,134980432,100,27,7,160,4643608,1,True,False,False,...,False,False,True,False,True,True,True,False,False,False
3,7239690,100,33,11,166,196625,1,False,True,False,...,False,False,False,False,False,False,True,False,False,False
4,128031305,48,17,3,116,4773010,0,True,False,False,...,False,False,False,True,False,False,True,False,False,False

In [9]:
X = df.drop('converted', axis=1)
y = df['converted']

In [10]:
print(y.value_counts())

converted
1    818
0    182
Name: count, dtype: int64

In [13]:
!pip install imbalanced-learn

Collecting imbalanced-learn
  Downloading imbalanced_learn-0.14.1-py3-none-any.whl.metadata (8.9 kB)
Requirement already satisfied: numpy<3,>=1.25.2 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from imbalanced-learn) (2.3.5)
Requirement already satisfied: scipy<2,>=1.11.4 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from imbalanced-learn) (1.16.3)
Requirement already satisfied: scikit-learn<2,>=1.4.2 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from imbalanced-learn) (1.8.0)
Collecting sklearn-compat<0.2,>=0.1.5 (from imbalanced-learn)
  Downloading sklearn_compat-0.1.5-py3-none-any.whl.metadata (20 kB)
Requirement already satisfied: joblib<2,>=1.2.0 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from imbalanced-learn) (1.5.3)
Requirement already satisfied: threadpoolctl<4,>=2.0.0 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from imbalanced-learn) (3.6.0)
Downloading imbalanced_learn-0.14.1-py3-none-any.whl (235 kB)
Downloading sklearn_compat-0.1.5-py3-none-any.whl (20 kB)
Installing collected packages: sklearn-compat, imbalanced-learn

   ---------------------------------------- 0/2 [sklearn-compat]
   ---------------------------------------- 0/2 [sklearn-compat]
   -------------------- ------------------- 1/2 [imbalanced-learn]
   -------------------- ------------------- 1/2 [imbalanced-learn]
   -------------------- ------------------- 1/2 [imbalanced-learn]
   -------------------- ------------------- 1/2 [imbalanced-learn]
   -------------------- ------------------- 1/2 [imbalanced-learn]
   -------------------- ------------------- 1/2 [imbalanced-learn]
   -------------------- ------------------- 1/2 [imbalanced-learn]
   -------------------- ------------------- 1/2 [imbalanced-learn]
   -------------------- ------------------- 1/2 [imbalanced-learn]
   -------------------- ------------------- 1/2 [imbalanced-learn]
   -------------------- ------------------- 1/2 [imbalanced-learn]
   -------------------- ------------------- 1/2 [imbalanced-learn]
   -------------------- ------------------- 1/2 [imbalanced-learn]
   -------------------- ------------------- 1/2 [imbalanced-learn]
   ---------------------------------------- 2/2 [imbalanced-learn]

Successfully installed imbalanced-learn-0.14.1 sklearn-compat-0.1.5

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [15]:
from imblearn.over_sampling import SMOTE

# Use the encoded dataframe for SMOTE
X_encoded = df_encoded.drop('converted', axis=1)
y_encoded = df_encoded['converted']

smote = SMOTE(random_state=42)
X_resampled, y_resampled = smote.fit_resample(X_encoded, y_encoded)

print(f"Original dataset: {len(y_encoded)} samples")
print(f"Resampled dataset: {len(y_resampled)} samples")
print(f"\nClass distribution after SMOTE:")
print(y_resampled.value_counts())

Original dataset: 1000 samples
Resampled dataset: 1636 samples

Class distribution after SMOTE:
converted
1    818
0    818
Name: count, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X_resampled,
    y_resampled,
    test_size=0.2,
    random_state=42,
    stratify=y_resampled
)

In [21]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

# Build and train both models (data is already encoded, so no preprocessing needed)

# 1. Logistic Regression Model
log_reg_model = LogisticRegression(max_iter=1000, random_state=42)

# 2. Decision Tree Model
dec_tree_model = DecisionTreeClassifier(max_depth=5, random_state=42)

# Train both models
log_reg_model.fit(X_train, y_train)
dec_tree_model.fit(X_train, y_train)

print("Both models have been trained successfully.")

Both models have been trained successfully.

In [23]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Comparison and Evaluation

# Get predictions
log_preds = log_reg_model.predict(X_test)
tree_preds = dec_tree_model.predict(X_test)

# Calculate Accuracy
log_acc = accuracy_score(y_test, log_preds)
tree_acc = accuracy_score(y_test, tree_preds)

print(f"Logistic Regression Accuracy: {log_acc:.2%}")
print(f"Decision Tree Accuracy: {tree_acc:.2%}")

# Show detailed reports for both models
print("\n" + "="*50)
print("Logistic Regression Report:")
print("="*50)
print(classification_report(y_test, log_preds))

print("\n" + "="*50)
print("Decision Tree Report:")
print("="*50)
print(classification_report(y_test, tree_preds))

Logistic Regression Accuracy: 50.00%
Decision Tree Accuracy: 78.66%

==================================================
Logistic Regression Report:
==================================================
              precision    recall  f1-score   support

           0       0.00      0.00      0.00       164
           1       0.50      1.00      0.67       164

    accuracy                           0.50       328
   macro avg       0.25      0.50      0.33       328
weighted avg       0.25      0.50      0.33       328


==================================================
Decision Tree Report:
==================================================
              precision    recall  f1-score   support

           0       0.78      0.80      0.79       164
           1       0.80      0.77      0.78       164

    accuracy                           0.79       328
   macro avg       0.79      0.79      0.79       328
weighted avg       0.79      0.79      0.79       328

c:\Users\DELL\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\metrics\_classification.py:1833: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
c:\Users\DELL\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\metrics\_classification.py:1833: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
c:\Users\DELL\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\metrics\_classification.py:1833: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])

In [27]:
import joblib

# Selection and Saving the Best Model
# Selection logic
if log_acc > tree_acc:
    best_model = log_reg_model
    model_name = "Logistic Regression"
else:
    best_model = dec_tree_model
    model_name = "Decision Tree"

print(f"Winning Model: {model_name}")

# Save the best model for the scoring system
joblib.dump(best_model, '../models/best_lead_scoring_model 1.pkl')
print(f"The {model_name} model has been saved as 'best_lead_scoring_model.pkl'")

Winning Model: Decision Tree
The Decision Tree model has been saved as 'best_lead_scoring_model.pkl'